<!-- <div class="login-page">
      <mat-card >
        <mat-card-header>
         <mat-card-title>Morgon Stanley</mat-card-title>
         <img mat-card-image src="src\app\images\morgan.jpg" alt="morgan">
        </mat-card-header>
        <mat-card-content>
              <button class="login-button" #loginRef>Login with Google</button>
        </mat-card-content>
      </mat-card>
  </div>  -->
<!-- <app-login>
</app-login>   -->
<!-- <div class="container mt-5">
  <h2>Google Login</h2>
  <div class="row mt-5">
    <div class="col-md-4 mt-2 m-auto ">
    </div>    
  </div>
</div>  
 -->


    <!-- <div >
      <img src="https://i.ytimg.com/vi/oUs3XjhzXn0/maxresdefault.jpg" alt="">
      <mat-card >
        <mat-card-header>
          <mat-card-title>Welcome To Accolite opportunity Management</mat-card-title>
        </mat-card-header>
         <mat-card-content>hello</mat-card-content> 
        <mat-card-actions style="">
          <button class="loginBtn loginBtn--google " #loginRef>Login with Google</button>      
        </mat-card-actions>
      </mat-card>
    </div>
 -->
    
<div>
  <img src="https://i.ytimg.com/vi/L9dVB_cp79U/maxresdefault.jpg" alt="">
    <button class="loginBtn loginBtn--google " #loginRef>Login with Google</button>      
 </div>




