<div style="height: 100vh;">
    <mat-toolbar color="basic">
        <a mat-flat-button href="https://www.morganstanley.com/" target="_blank">Morgon Stanley</a>
        <span class="example-spacer1"></span>
        <button mat-button class="opp" color="accent" routerLink='/opportunity'>Opportunity</button>
        <span class="example-spacer1"></span>
        <button mat-button class="opp" color="warn" routerLink='/trends'>Trends</button>
        <span class="example-spacer"></span>
        <button mat-button color="warn">Sridhar</button>
        <span class="example-spacer1"></span>
        <button mat-raised-button color="warn">Logout</button>
    </mat-toolbar>  
    <router-outlet></router-outlet>
</div>